@import 'tailwindcss';

:root {
  /* background colors */
  --background: #F6F4FF;
  --chat-bg-color: #3C3494;
  --accent-bg: #FFFFFF;
  --sidebar-bg: #FFFFFF;

  /* text colors */
  --foreground: #080008;
  --light-text-color: #707070;
  --error: #B90000;

  /* accent colors */
  --primary: #816CEE;

  /* tasks colors */
  --done-task-color: #1DC2AE;
  --in-progress-task-color: #F7BE26;
  --bg: #F6F6F6;
}

.dark {
  /* background */
  --background: #171717;
  --accent-bg: #2A272F;

  /* text color */
  --foreground: #f3eeff;
  --light-text-color: #DEDBDB;
}

@theme inline {
  /* background */
  --color-background: var(--background);
  --color-accent-bg: var(--accent-bg);
  --color-chat-bg-color: var(--chat-bg-color);

  /* colors */
  --color-foreground: var(--foreground);
  --color-light-text-color: var(--light-text-color);
  --color-error: var(--error);

  /* accent colors */
  --color-primary: var(--primary);

  --font-sans: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

